.mode-game {
    background-color: #1A77BC;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFF;
    margin: 0;
}

.mode-menu {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    background-color: #D2E1F6;
    display: grid;
    justify-content: center;
    
}

.container-menu > h1 {
    font-size: 80px;
}

.container-menu > div{
    font-size: 40px;
}

.container-menu{
    border: 2px solid black;
    background-color: aliceblue;
    width: 80vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center; 
    text-align: center; 

    grid-template-rows: 50% 15% 15%;
}

.option{
    cursor: pointer;
}

.option:hover{
    background-color: #b5c3d6;
}


.name-container {
    display: grid;
    grid-template-columns: 50% 50%;
}



.tablero-container {
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-gap: 0;
    justify-content: center;


}

.celda {
    width: 60px;
    height: 60px;
    font-size: 32px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.celda-seleccionable:hover {
    background-color: green;
    cursor: pointer;
}

.celda-primera-fila {
    border: none;
}

.celda-primera-columna {
    border: none;
}


.container-menu > input{
    font-size: 40px;
    text-align: center;
    cursor: text;
}